* {
  margin: 0px;
  padding: 0px;
}

.add_btn {
  text-align: right;
}
.container {
  overflow: auto;

  margin-bottom: 500px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

/* nav {
  position: fixed !important;
  top: 0px !important;
  width: 100%;
  margin-bottom: 20px;
} */

.homeDiv {
  margin-top: 150px;
  padding-top: 50px;
}

header {
  height: 150px;
  position: fixed !important;
  top: 0px !important;
  width: 100%;
  margin-bottom: 20px;
  /* background-color:; */
  backdrop-filter: blur(10px);
}

/* javascript mystery
lamadev */
